.title {
    font-weight: bold;
}


header {
    color: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    gap: 12rem;
    align-items: center;
}

/* Nav Styling */
.Logo {
    font-size: 20px;
    text-align: right;
}

.icon {
    padding-bottom: 10px;
}

.title {
    display: inline-block;
    margin: 1rem;
    padding-top: 8px;
}

nav {
    width: 50%;
    /* display: inline-block; */
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: right;
    margin: 0;
}

nav ul li a,
nav ul li button {
    display: block;
    background-color: #fff;
    color: black;
    font: bolder 14px 'Roboto', sans-serif;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease all;
    margin-right: 5px;
    border: none;
}

nav ul li a:hover,
nav ul li button:hover {
    background: #FF6A15;
    color: black;
}

.active {
    background: #FF6A15;
    color: black;
}