.title {
    font-weight: bold;
}


header {
    color: #000000;
    padding: 10px 30px;
}

/* Nav Styling */
.Logo {
    display: inline-block;
    width: 50%;
    font-size: 20px;
}

.icon {
    padding-bottom: 10px;
}

.title {
    display: inline-block;
    margin: 0px 8px;
    padding-top: 8px;
}

nav ul li {
    display: inline-block;
}

nav {
    width: 50%;
    display: inline-block;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li a,
nav ul li button {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease all;
    margin-right: 5px;
    border: none;
}

nav ul li a:hover,
nav ul li button:hover {
    background: #FF6A15;
}